.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}
.box-container {
  width: 200vw;
  height: 100dvh;
  display: flex;
  overflow: hidden;
}
.panel {
  width: 100vw;
  height: 100dvh;
}

.box {
  background: red;
  width: 80px;
  height: 300px;
}
/*

.imgHover {
  filter: grayscale(100%);
  transition: all ease-in-out 0.4s;
}
.imgHover:hover {
  filter: grayscale(0%);
}*/
.filt {
  transition: all ease-in-out 0.4s;
}
.filt:hover {
  filter: none;
}
.stk {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.anim {
  animation-delay: 3s;
}
.rotateText {
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
}
.panel {
  width: fit-content;
  height: fit;
}
.slider > div:nth-child(even) {
  transform: translateY(100px);
}

.img-item {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.inner {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.transition-slow {
  transition: ease-in-out 0.6s all;
}

.item {
  opacity: 0;
}
